<section class="new-user" fxLayoutAlign="center">
    <form [formGroup]="userForm" (ngSubmit)="save()">
        <mat-card fxFlex.xs="100%" fxFlex="400px">
           
            <mat-card-content fxLayoutAlign="center" fxLayout="column">
                   <mat-form-field  class="example-full-width" appearance="fill">
                      <mat-label>First name</mat-label>
                      <input formControlName="firstName" matInput>
                    </mat-form-field>
                   <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Last Name</mat-label>
                      <input formControlName="lastName" matInput>
                   </mat-form-field>
               
                  <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input 
                      matInput
                      type="email"
                      formControlName="email"
                      placeholder="Email.."
                     >
                     <mat-error *ngIf="userForm.get('email')?.invalid">Please enter valid email format.</mat-error> 

                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Mobile</mat-label>
                    <input
                      matInput
                      type="number"
                      formControlName="mobile"
                      placeholder="Mobile.."
                     >
                     <mat-error *ngIf="userForm.get('mobile')?.invalid">Please enter 10-digit mobile number.</mat-error> 
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Location</mat-label>

                    <input
                      matInput
                      type="text"
                      formControlName="location"
                      placeholder="Location.."
                     >
                     <mat-error *ngIf="userForm.get('location')?.invalid">Please enter valid location name.</mat-error> 

                  </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <!-- <button *ngIf="mode=='create'" mat-raised-button type="submit" color="primary">Add</button> -->
                <!-- <button *ngIf="mode=='edit'" mat-raised-button type="submit" color="primary">Edit</button> -->
                <button mat-raised-button type="submit" color="primary">Done</button>
                <button mat-raised-button type="button" color="warn" (click)="cancel()">Close</button>
            </mat-card-actions>
        </mat-card>
    </form>
    
</section>