<div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
        <input type="text" matInput (keyup)="doFilter($event)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="example-table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort fxLayout="column" >
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id   </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.id  }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First name </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.firstName  }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last name </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header> mobile </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.mobile }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.location }}</mat-cell>
        </ng-container>
       
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header><span></span> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
             <a mat-raised-button color="primary" color="primary" [routerLink]="['/edit',element.id]">Edit</a> 
             <button mat-button color="warn" (click)="onDelete(element.id)">DELETE</button>
        </mat-cell>
    </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       
    
    </mat-table>
</div>

<mat-paginator 
              [pageSize]="3"
              [pageSizeOptions]="[5, 10, 20, 100]"
              >
</mat-paginator>