<div class="example-table-container mat-elevation-z8">
  <mat-table [dataSource]="people$" matSort fxLayout="column" >
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id   </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.id  }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First name </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.firstName  }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last name </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobile">
          <mat-header-cell *matHeaderCellDef mat-sort-header> mobile </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.mobile }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.location }}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     
  
  </mat-table>
</div>